.main {
  max-width: 115rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    max-width: 100%;
  }
}

.top {
 display: flex;
 justify-content: space-between;
 width: 100%;
 margin-bottom: 7rem;

  @include respond(phone) {
    flex-direction: column;
    margin-bottom: 5rem;

  }
}


.intro {
  width: 40%;
  margin-right: 40px;

  @include respond(tab-port) {
    width: 100%;
    margin-right: 2rem;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 50rem;
  justify-content: center;
  
  @include respond(tab-port) {
    width: 100%;
  }
}

.review {
  background-color: $light-gray-magenta;
  width: 42rem;
  display: flex;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-radius: .5rem;
  margin-bottom: 1.5rem;

  @include respond(tab-port) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  @include respond(phone) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  &__stars {
    margin-right: 2rem;

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }

  &__star {
    margin-right: .5rem;
  }

  &__star:last-child {
    margin-right: 0;
  }

  &-1 {
    align-self: flex-start;
  }
  
  &-2 {
    align-self: center;
  }

  &-3 {
    align-self: flex-end;
  }
}

.review:last-child {
  margin-bottom: 0;
}


.testimonial {
  width: 100%;
  display: flex;
  min-height: 30rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &__1 {
    align-self: flex-start;
  }

  &__2 {
    align-self: center;
  }

  &__3 {
    align-self: flex-end;
  }

  &__container {
    background-color: $dark-magenta;
    border-radius: 1rem;
    padding: 4rem 3.2rem 3rem 3.2rem;
    margin-right: 3rem;
    
    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  &__container:last-child {
    margin-right: 0;
  }

  &__user {
    display: flex;
  }

  &__user-photo {
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 2.5rem 3rem 0;

    &-img {
      width: 100%;
      height: auto;
    }
  }


}